@import url('https://fonts.googleapis.com/css?family=Cute+Font');
/*
    font-family: 'Cute Font', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded:300,400,700,800');
/*
    font-family: 'BioRhyme Expanded', serif;
*/

@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700');
/*
    font-family: 'Sunflower', sans-serif;
*/


/*****************************************************
***********     OTHER FILES
*****************************************************/
@import 'vendor/fa/css/font-awesome.css';

@import 'logo.css';
@import 'dices.css';
@import 'app.css';

:root{
    --black: rgb(33,33,33);
    --white: rgb(255,255,255);
    --grey: rgb(158,158,158);
    
    --red: rgb(183,28,28);
    --purple: rgb(106,27,154);
    --pink: rgb(233,30,99);
    --blue: rgb(26,35,126);
    --green: rgb(27,94,32);
    --gold: rgb(255,143,0);
    --cyan: rgb(0,188,212);
    --black-easy: rgb(71, 71, 71);
}

/*****************************************************
***********     RESET
*****************************************************/

*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html{
    font-size: 16px;
    
    width: 100%;
    height: 100%;
}

body{
    line-height: 1;
    
    width: 100%;
    height: 100%;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

/*****************************************************
***********     MAIN
*****************************************************/
.container{
    position: relative;
    
    display: flex;
    flex-flow: column;
    
    width: 100%;
    min-height: 100%;
    
    background-color: var(--white);
}

/*****************************************************
***********     HEADER
*****************************************************/

.header{
    display: flex;
    align-items: center;
/*
    position: sticky;
    top: 0;
*/
    width: 100%;
    height: 160px;
    padding: 20px 30px;
    
    background-color: var(--white);
}

.header .logo{
    margin-left: 60px;
}

.content{
    padding: 30px 0px;
}
